 <!-- MAIN CONTENT-->
<main>
  <div class="d-flex justify-content-center mt-5 ml-5 mb-3">
     <div class="card text-white mr-5">
      <div class="card-body color-block cloud-nine-gradient">
        <div class="icon pb-3">
          <i class="fa fa-suitcase fa-2x"></i>
        </div>
        <h5 class="card-title">1,000,000</h5>
        <p class="card-text">Total Funds</p>
      </div>
    </div>
     <div class="card text-white mr-5">
      <div class="card-body color-block big-money-gradient">
        <div class="icon pb-3">
          <i class="fa fa-usd fa-2x"></i>
        </div>
        <h5 class="card-title">0.00</h5>
        <p class="card-text">Total Profits</p>
      </div>
    </div>
     <div class="card text-white mr-5">
       <div class="card-body color-block yellow-mellow-gradient">
        <div class="icon pb-3">
          <i class="fa fa-list-alt fa-2x"></i>
        </div>
        <h5 class="card-title">0</h5>
        <p class="card-text">Stock Owned</p>
      </div>
    </div>
     <div class="card text-white mr-5">
      <div class="card-body color-block morpheus-ponens-gradient">
        <div class="icon pb-3">
          <i class="fa fa-users fa-2x"></i>
        </div>
        <h5 class="card-title">0</h5>
        <p class="card-text">Stock Sold</p>
      </div>
    </div>
  </div>
</main>
