<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-text">
    Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/nolDsouza/SSIG-Market" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="/" target="_blank">
        <i class="fa fa-cloud"></i>
      </a>
      <a class="nav-item nav-link" href="https://trello.com/b/NqGb0Acc/ssig-programming-project-1" target="_blank">
        <i class="fa fa-trello"></i>
      </a>
    </div>
  </div>
</nav>
