<LINK href="aboutus.component.css" rel="stylesheet" type="text/css">
<h1>
  What is Sharelion?
</h1>
<hr>
<p>
Sharelion in a new, engaging, fun and free way to experience the Australian sharemarket game <br>
without wasting your hard earned money. Sharelion is a real time experience that allows you the <br>
user to get a feeling of what it is like to purchase shares, sell shares, and win big! <br>
<br>
</p>
<h1>
  Why are we Doing This?
</h1>
<hr>
<p>
As part of RMIT's Bachelor of IT course, each student must work on and develop one of four <br>
specific project listed and defined by the RMIT IT Project staff. We at Sharelion beleive a <br>
sharemarket simulator game is the most interestiong and provides enough of a challenge for <br>
us to show off our development and program management skills! <br>
<br>
</p>
<h1>
  How do we Differ?
</h1>
<hr>
<p>
Here at Sharelion, we aim to bring the best possible experience to our users by providing them <br>
with a simple and easy to use system which requires little to no learning, we also provide an <br>
engaging system for users by giving them an experience which is very similar to real sharemarket <br>
investment experience..... minus spending all that money! <br>
<br>
</p>
<h1>
  Our Vision!
</h1>
<hr>
<p>
Our vision is to provide users with a free, easy and fun  way to experience what it is like to <br>
invest in shares on the  Australian ASX sharemarket. We wish to provide users with a simulation <br>
that simulates the real experience as close as possible!<br>
<br>
</p>
