<div class="jumbotron">
  <div class="container">
    <h1>{{company?.asx_code + ", "}}{{company?.name | titlecase}}</h1>
      <br>
      <h5>Industry: {{company?.industry}}</h5>
      <br>
      <h5>Price: {{sharePrice | monetary}}</h5>
      <br>
      <div *ngIf="pipeline < checkout" id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
      <br>
      <button *ngIf="pipeline === company_details" class="btn btn-primary btn-lg" (click)="upPipeline()">Buy shares</button>
  </div>
</div>

<div *ngIf="pipeline === purchase || pipeline === confirmation" class="container">
  <form [formGroup]="buyForm" (ngSubmit)="buy()">
    <label class="my-1 mr-2">Account</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" formControlName="account">
      <option selected>Chooose...</option>
      <option *ngFor="let account of accounts; let i = index;" [value]="i">
        {{account.name}}
      </option>
    </select>
    <label class="my-1 mr-2">Amount</label>
    <input type="number" class="form-control mt-2 mb-2 mr-sm-2 mb-sm-0" min=0 max=99 formControlName="quantity">
    <br>
    <p *ngIf="selected"> balance: {{(selected?.balance | monetary) || 0}} </p>
    <p> total: {{(total | monetary) || 0}} </p>
    <button *ngIf="pipeline === purchase" class="btn btn-primary mt-2" (click)="upPipeline()" [disabled]="!validated_input">Purchase</button>
    <button *ngIf="pipeline === purchase" class="btn btn-danger ml-2 mt-2" (click)="downPipeline()">Cancel</button>
    <div *ngIf="pipeline === confirmation">
      <p> are you sure? </p>
      <button type="submit" class="btn btn-success mt-2">Yes</button>
      <button  class="btn btn-danger ml-2 mt-2" (click)="downPipeline();downPipeline()">No</button>
    </div>
  </form>
</div>

<div *ngIf="pipeline === checkout" class="container">
  <h2>Transaction Details</h2>
  <p>Date Created: {{certificate?.dateCreated}}</p> 
  <p>Transaction ID: {{certificate?._id}}</p> 
  <p>User ID: {{certificate?.user_id}}</p> 
  <p>ASX_code: {{certificate?.asx_code}}</p> 
  <p>Price: {{certificate?.value | monetary}}</p> 
  <p>Amount: {{certificate?.amount}}</p> 
  <p>Total: {{certificate?.amount * certificate?.value | monetary}}</p> 
  <button  class="btn btn-warning mt-2" routerLink="/dashboard">Back to Dashboard</button>
  <button  class="btn btn-warning ml-2 mt-2" routerLink="/share-summary">View My Shares</button>
  <button  class="btn btn-warning ml-2 mt-2" routerLink="/history">View Transaction History</button>
</div>
