<nav class="navbar navbar-dark  mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/nolDsouza/Sharelion" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://drive.google.com/drive/u/1/folders/14hr393RFRriVLi_TvP9lDpGiGuJHmYFj" target="_blank">
        <i class="fa fa-google"></i>
      </a>
      <a class="nav-item nav-link" href="https://trello.com/b/NqGb0Acc/ssig-programming-project-1" target="_blank">
        <i class="fa fa-trello"></i>
      </a>
    </div>
  </div>
</nav>
