<link rel="stylesheet" href="faq.component.css">
<h2> Why do I only start with $1,000,000 in my account? </h2>
<p>
  We wanted to give everyone a equal start so that there is no unfair advantage. The point of the Sharelion website is to provide our users with a simulated share market so that they can practice buying shares for a lower price and to sell them at a potentially hire value so that they can become number 1 on the leaderboards.  
</p>
<h2> How do I get higher rankings on the leaderboards? </h2>
<p>
  Rankings are based on the total value of shares that you own across your five trading accounts. Reasoning for this is that we don't want our users to climb to the top by just having a higher wallet total. This is to also encourage users to constantly buy shares that may go up or down in value depending on the quantity they buy.
</p>
<h2> Why do I have 5 different trading accounts and what is the point of having them? </h2>
<p>
	The reason for having 5 different trading accounts is to allow our users to organise the multiple amount of stocks they will own from different companies. These accounts are all tied to the user wallet so don't expect to have $1,000,000 for each different trading account.
</p>
<h2> Are there any additional ways for me to deposit funds into my wallet so I can buy more stocks? </h2>
<p>
 There are no current or planned features to allow users to deposit additional funds into their wallets aside from buying and selling stocks. Reasoning for this is that we don't want to create an environment which was designed to be a learning experience for the stock market to be a pay-to-win experience and we want to make sure that those that reach the top of the leaderboards do so by using their knowledge of the stock market.
</p>
<h2> Where do you obtain your company and stock information? </h2>
<p>
   We obtain our stock information from the ASX which is taken in real time and is updated every hour for real time information.
</p>
   