<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <ul class="list-unstyled components ml-4 mr-2">
        <h3 class="menu-title">Services</h3><!-- /.menu-title -->
        <li class="active"><a href="#"> <i class="menu-item fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="#"><i class="menu-item fa fa-shopping-cart"></i>Marketplace</a></li>
        <li><a href="#"><i class="menu-item fa fa-list"></i>Company List</a></li>
        <li><a href="#"><i class="menu-item fa fa-comments"></i>Chat</a></li>
        <h3 class="menu-title">My Summary</h3><!-- /.menu-title -->
        <li><a href="#"><i class="menu-item fa fa-tasks"></i>My Shares</a></li>
        <li><a href="#"><i class="menu-item fa fa-briefcase"></i>Manage Accounts</a></li>
        <li><a href="#"><i class="menu-item fa fa-share"></i>Transfer</a></li>
        <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
        <li><a href="#"><i class="menu-item fa fa-glass"></i>About</a></li>
        <li><a href="#"><i class="menu-item fa fa-phone"></i>Contact Us</a></li>
        <li><a href="#"><i class="menu-item fa fa-question"></i>FAQ</a></li>
      </ul>
    </nav>
</div>
